<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card card-sh">
                    <div class="card-header text-center fs-4">
                        Add Item
                        <th:block th:if="${session.succMsg}">
                            <p class="text-success fw-bold" th:text="${session.succMsg}"></p>
                            <th:block th:text="${@userService.removeSessionMessage()}"></th:block>
                        </th:block>

                        <th:block th:if="${session.errorMsg}">
                            <p class="text-danger fw-bold" th:text="${session.errorMsg}"></p>
                            <th:block th:text="${@userService.removeSessionMessage()}"></th:block>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form action="/admin/savePost" method="post"
                              enctype="multipart/form-data">
                            <div class="mb-3">
                                <label>Enter Title</label> <input type="text" name="title"
                                                                  class="form-control">
                            </div>

                            <div class="mb-3">
                                <label>Enter Description</label>
                                <textarea rows="3" cols="" class="form-control"
                                          name="content"></textarea>
                            </div>
                            <div class="row">
                                <div class="mb-3">
                                    <label>Category</label>
                                    <select class="form-control"
                                            name="category">
                                        <option>--select--</option>
                                        <option th:each="c:${categories}" th:text="${c.name}"></option>

                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3">
                                    <label>Upload Image</label> <input type="file" name="file"
                                                                       class="form-control">
                                </div>

                            </div>
                            <button class="btn btn-primary col-md-12">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>